<html>
<title>College Event Manager</title>
<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- AngularJS and its route -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
  <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCYEiUAFh3-Ca91pCPgn8a-DFX7OEL8GZQ"></script>

  <!-- Using the show eye and hide eye for password, also the Twitter button -->
  <script src="https://kit.fontawesome.com/962d9b3821.js" crossorigin="anonymous"></script>
  
  <!-- Function to show and hide password -->
  <script>
    $(document).ready(function()
    {
      $(".hide-password").click(function()
      {
        var passwordField = $("#password");
        var icon = $(".hide-password");
    
        if (passwordField.attr("type") === "password")
        {
          passwordField.attr("type", "text");
          icon.removeClass("fa-eye-slash").addClass("fa-eye");
        }
        else
        {
          passwordField.attr("type", "password");
          icon.removeClass("fa-eye").addClass("fa-eye-slash");
        }
      });
    });    
  </script>
    
  <style>
    /* Setting the signin background */
    body {
      background-image: url("../images/SigninBackground.jpg");
      background-size: cover;
    }

    /* Setting and styling the signin background */
    #signupBackground {
      align-items: center;
      background-color: #C5C7C8;
      border: 3px solid #FEF3B3;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      position: absolute;
      text-align: center;
      transform: translate(-50%, -50%);

      height: 472px;
      width: 354px;

      left: 50%;
      top: 50%;
    }

    /* Setting and styling the background of the toggle bar */
    #collegeEventManager {
      align-items: center;
      background-color: #FEF3B3;
      border-radius: 6px;
      color: #000000;
      display: flex;
      font-size: 14pt;
      font-weight: bold;
      justify-content: center;
      margin-top: 1.5em;
      margin-bottom: 0.5em;

      height: 50px;
      width: 299px;
    }

    /* Setting and styling the name, email, username, and password field */
    #nameField text, #emailField text, #usernameField text, #passwordField text, #universityDropdown text, #superAdminDropdown text{
      color: #000000;
      display: inline-block;
      margin-left: 1em;
      margin-right: 0em;
      text-align: right;
      width: 85px;
    }
    #name, #email, #username, #password, #university, #superAdmin {
      color: #656565;
      background-color: #FBFBFB;
      border: none;
      border-radius: 4px;
      margin-bottom: 0.5em;
      margin-right: 1em;
      text-align: left;
      text-indent: 6px;

      height: 30px;
      width: 210px;
    }
    /* Removing the "focus ring" when the name, email, username and password field is clicked */
    #name:focus, #email:focus, #username:focus, #password:focus, #university:focus, #superAdmin:focus {
      outline: none;
    }
    /* Setting and styling inside the name, email, username, and password field */
    #name::placeholder, #email::placeholder, #username::placeholder, #password::placeholder, #university::placeholder #superAdmin::placeholder {
      color: #656565;
      background-color: #FBFBFB;
      border: none;
      border-radius: 4px;
      margin-bottom: 0.5em;
      margin-right: 1em;
      text-align: left;
    }
    /* Setting and styling the show and hide eye password icon */
    #eyeIcon {
      color: #656565;
      margin-top: 1.15em;
      right: 1.7em;
      position: absolute;
      transform: translateY(-50%);
      cursor: pointer;
    }
    
    /* Setting and styling the "PASSWORD REQUIREMENTS" box */
    #passwordRequirementsBox {
      position: relative;
    }
    #passwordRequirementsBox:hover #passwordRequirementsText {
      display: block;
    }
    
    /* Setting and styling the contents inside the password requirements box */
    #passwordRequirementsText {
      background-color: #FFFFFF;
      border: #FEF3B3 3px solid;
      border-radius: 6px;
      display: none;
      left: 50%;
      line-height: 1.5;
      position: absolute;
      transform: translateX(-50%);
      z-index: 1;
      
      height: 138px;
      width: 300px;
    }

    /* Setting and styling the "PASSWORD REQUIREMENTS" title */
    #passwordRequirementsTitle {
      font-size: 16px;
      margin-top: 0.5em;
      margin-bottom: 0em;
    }

    /* Setting and styling the password requirements list */
    #passwordRequirementsList {
      font-size: 12px;
      margin-left: 1.35em;
      text-align: left;
      white-space: nowrap;
    }

    /* Setting and styling the "Already have an account? Sign in" */
    #alreadyHaveAccount {
      color: #000000;
      margin-bottom: 0.2em;
      margin-left: 1em;
      text-align: left;
    }

    /* Setting and styling the sign up photo */
    #ComeTogetherHands img {
      margin-bottom: 0.3em;

      height: 80px;
    }

    /* Styling the error message (if there is one) */
    #errorMessage {
      color: rgb(255, 0, 0);
      font-size: 10pt;
      position: center;
      white-space: nowrap;
    }

    /* Setting and styling the "SIGN UP" button */
    #signupButton {
      background-color: #FEF3B3;
      border: none;
      border-radius: 8px;
      color: #000000;
      cursor: pointer;
      font-size: 18pt;
      margin-top: 0.5em;
      position: absolute;
      text-align: center;
      transform: translateX(-50%);

      left: 149px;
      top: 390px;

      height: 35px;
      width: 250px;
    }
    /* Changing the "SIGN UP" button color when hovered over */
    #signupButton:hover {
      background-color: #F1E6AD;
    }

    /* Styling the Twitter button */
    #twitterButton {
      background-color: #1DA1F2;
      border-radius: 8px;
      font-size: 14pt;
      margin-top: 0.5em;
      outline: none;
      position: absolute;
      transform: translateX(-50%);

      left: 302px;
      top: 391px;

      height: 37px;
    }
    /* Changing the Twitter button color when hovered over */
    #twitterButton:hover {
      background-color: #1a98e6;
    }
  </style>
</head>

<body>
  <center>
    <div id="signupBackground">
      <text id="collegeEventManager">COLLEGE EVENT MANAGER</text>
      <form id="signupForm" class="form"  action="/register" method="post">
        <div id="nameField">
          <text>FULL NAME:</text>
          <% if(fullname != ''){ %>
            <input id="name" type="text" name="name" placeholder="FULL NAME", value = <%-fullname%>>
          <%}else{%>
            <input id="name" type="text" name="name" placeholder="FULL NAME">
          <%}%>
        </div>
        <div id="emailField">
          <text>EMAIL:</text>
          <% if(email != ''){ %>
            <input id="email" name="email" type="text" placeholder="EMAIL", value = <%-email%>>
          <%}else{%>
            <input id="email" name="email" type="text" placeholder="EMAIL">
          <%}%>
        </div>
        <div id="usernameField">
          <text>USERNAME:</text>
          <% if(username != ''){ %>
            <input id="username" name="username" type="text" placeholder="USERNAME", value = <%-username%>>
          <%}else{%>
            <input id="username" name="username" type="text" placeholder="USERNAME">
          <%}%>
        </div>
        <div id="passwordField">
          <div id="passwordRequirementsBox" className="password-input-container">
            <text>PASSWORD:</text>
            <% if(password != ''){ %>
              <input id="password" name="password" type="password" autocomplete="off" placeholder="PASSWORD", value = <%-password%>>
            <%}else{%>
              <input id="password" name="password" type="password" autocomplete="off" placeholder="PASSWORD">
            <%}%>
            <i id="eyeIcon" class="fas fa-eye-slash hide-password"></i>
            <div id="passwordRequirementsText" className="tooltip">
              <p id="passwordRequirementsTitle">PASSWORD REQUIREMENTS:</p>
              <div id="passwordRequirementsList">
                <text>• Must be between 6 and 128 characters</text><br/>
                <text>• Must contain at least one number</text><br/>
                <text>• Must contain at least one uppercase letter</text><br/>
                <text>• Must contain at least one lowercase letter</text><br/>
                <text>• Must contain at least one special character</text><br/>
              </div>
            </div>
          </div>
        </div>
        <div id="universityDropdown">
          <text>UNIVERSITY:</text>
            <select id="university" name="uni">
            <%for (var i = 0; i < uni.length; i++)
              {%><option value="<%= uni[i].University_Name %>"><%=uni[i].University_Name%></option><%}%>
          </select>
        </div>
        <div id="superAdminDropdown">
          <text>LEVEL:</text>
          <select id="superAdmin" name="type">
            <option value="Student">Student</option>
            <option value="Super Admin">Super Admin</option>
          </select>
        </div>
        <div id="alreadyHaveAccount">
          <text>Already have an account? <a href="/"><u>Sign in</u></a></text>
        </div>
        <div id="ComeTogetherHands">
          <img src="images/ComeTogetherHands.png" alt="SigninPhoto">
        </div>
        <div id="errorMessage" class="aContainer">
          <text><% if (message.length > 0) %><%=message%></text>
        </div>
        <br><br><br><br><br>
        <button id="signupButton" type="submit">SIGN UP</button>
        <a href="#"
          onclick="window.open('https://twitter.com/intent/tweet?text=I+just+registered+for+College+Event+Manager%21+http%3A%2F%2Flocalhost%3A3000%2Fregister', 'newwindow', 'width=600, height=250'); return false;">
          <button id="twitterButton" class="btn btn-info"><i class="fa fa-twitter"></i></button>
        </a>
      </form>
    </div>
  </center>
</body>
</html>