<html>

<style>
  body {
    background-image: url("../images/EventDetailsBackground.jpg");
    background-size: cover;
  }
  input, label,button,textarea 
  {
    width: 40%;
  }  
  
  .unapprovedEvents{    
    width: 40%;
    height: 425px;
    min-width: 450px;
    

    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 5px;
    

    border: 3px;
    border-style: solid;
    border-color: #FEF3B3;
    border-radius: 10px;

    background-color: #C5C7C8;

    overflow: auto;
  }
  .container{
    margin-bottom: 80px;
  }
  .aContainer{
    color: red;
  }
  #superAdminFormat{
    align-items: center;
    background-color: #FEF3B3;
    border-radius: 6px;
    color: #000000;
    display: flex;
    font-size: 40pt;
    font-weight: bold;
    justify-content: center;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    transform: translateX(-50%, -50%);

    height: 70px;
    width: 575px;
    border: 2px solid #C5C7C8;
    white-space: nowrap;
    overflow: hidden;

  }
  #approveButton {
    background-color: #5cb85c;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    line-height: 0px;
    margin-bottom: 0.8em;
    margin-top: 0.5em;
    text-align: center;

    height: 30px;
    width: 90px;
  }
  #approveButton:hover {
    background-color: #51a151;
  }
  #approveButton:focus {
    outline: none;
  }
  #unapprovedEventsBackground {
    align-items: center;
    background-color: #C5C7C8;
    border: 3px solid #FEF3B3;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding-bottom: 2em;
    
    text-align: center;

    height: 600px;
    width: 450px;

    left: 50%;
    top: 50%;

    overflow: auto;
  }
  #eventsTitle {
    align-items: center;
    background-color: #FEF3B3;
    border-radius: 6px;
    color: #000000;
    display: flex;
    font-size: 18pt;
    font-weight: bold;
    justify-content: center;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;

    height: 50px;
    width: 380px;
  }
  
  #postedName {
    color: #000000;
    background-color: #FEF3B3;
    display: block;
    font-size: 12pt;
    font-weight: bold;
    margin-bottom: 0.5em;
    text-align: center;
    text-transform: uppercase;
  }
  #grid-container {
    display: grid;
    grid-template-columns: 142px auto;
  }
  #grid-item-fields {
    font-weight: bold;
    font-size: 10pt;
    margin-left: 1.5em;
  }
  #individualEventOutline {
    border: 3px solid #FEF3B3;
    border-radius: 6px;
    color: #000000;
    margin-bottom: 0.5em;
    text-align: left;

    width: 380px;
  }
</style>


<%= include partials/header.ejs %>

 <body>
  <center><h1><text id="superAdminFormat">Super Admin Portal</text></h1><center></br>
  <div class = "aContainer" >
          <h1> <% if (message.length > 1) %>
                <%=    message   %>
          </h1>
  </div>
  <center>
    <div class = "container">
      <div id="unapprovedEventsBackground">
        <text id="eventsTitle">CURRENT EVENTS</text>
        <!-- Code for "FILTER EVENTS" -->
        
        <% for (var i = 0; i < events.length; i++) { %>
          <div id="individualEventOutline">
            <div id="postedName"><%= events[i].Name %></div>
            <div id="grid-container">
              <div id="grid-item-fields">START TIME:</div>
              <div><%= events[i].startTime.toLocaleString() %></div>
              <div id="grid-item-fields">END TIME:</div>
              <div><%= events[i].endTime.toLocaleString() %></div>
              <div id="grid-item-fields">LOCATION:</div>
              <div><%= events[i].Location %></div>
              <div id="grid-item-fields">EMAIL:</div>
              <div><%= events[i].Email %></div>
              <div id="grid-item-fields">PHONE #:</div>
              <div><%= events[i].Phone %></div>
              <div id="grid-item-fields">DESCRIPTION: </div>
              <div><%= events[i].Description%></div>
            </div>
            <div style="display:flex; justify-content:center;"><input id="approveButton" type="button" name="theButton" class = "btn btn-info" value="Approve" onclick="window.location='/super/Event/<%= events[i].Event_ID %>'" ></div>
          </div>
        <%}%>
      <div id="fakeSpace"></div>
      </div> 
    </div></center>
  </body>
</html>
