<html>

<style>
  body {
    background-image: url("../images/EventDetailsBackground.jpg");
    background-size: cover;
  }
  input, label,button,textarea 
  {
    width: 40%;
  }  
  
  .unapprovedEvents{    
    width: 40%;
    height: 425px;
    min-width: 450px;
    

    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 5px;
    

    border: 3px;
    border-style: solid;
    border-color: #FEF3B3;
    border-radius: 10px;

    background-color: #C5C7C8;

    overflow: auto;
  }
  .container{
    margin-bottom: 80px;
  }
  .aContainer{
        color: red;
      }
  #unapprovedEventsFormat{
    align-items: center;
    background-color: #FEF3B3;
    border-radius: 6px;
    color: #000000;
    display: flex;
    font-size: 20pt;
    font-weight: bold;
    justify-content: center;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    transform: translateX(-50%, -50%);

    height: 50px;
    width: 80%;
  }
  #superAdminFormat{
    align-items: center;
    background-color: #FEF3B3;
    border-radius: 6px;
    color: #000000;
    display: flex;
    font-size: 40pt;
    font-weight: bold;
    justify-content: center;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    transform: translateX(-50%, -50%);

    height: 70px;
    width: 575px;
    border: 2px solid #C5C7C8;
    white-space: nowrap;
    overflow: hidden;

  }
  #approveButton {
      background-color: #FEF3B3;
      border: none;
      border-radius: 8px;
      color: #000000;
      cursor: pointer;
      font-size: 15pt;
      margin-top: 10px;
      text-align: center;

      height: 40px;
      width: 150px;
      
    }
    /* Changing the "SIGN IN" button color when hovered over */
    #approveButton:hover {
      background-color: #F1E6AD ;
    }
</style>


<%= include partials/header.ejs %>

 <body>
  <center><h1><text id="superAdminFormat">Super Admin Portal</text></h1><center></br>
  <div class = "aContainer" >
          <h1> <% if (message.length > 1) %>
                <%=    message   %>
          </h1>
  </div>
  
    <div class = "container">
      <div class = "unapprovedEvents" class="Center">
        
        <center><h1><text id="unapprovedEventsFormat">Unapproved Events</text></h1><center></br>
          <ul>
                  <% for(var i=0; i < events.length; i++) { %>
                    
                    <div style="text-align:left;">
                      <h3><li><b>Name:</b> <%= events[i].Name %></li></h3>
                      <ul><h4>
                        <le><b>Description:</b> <%= events[i].Description %></le><br>                  
                        <le><b>Start:</b> <%= events[i].startTime.toLocaleString() %></le><br>
                        <le><b>End:</b> <%= events[i].endTime.toLocaleString() %></le><br>                                   
                        <le><b>Location:</b> <%= events[i].Location %></le><br>                                           
                        <le><b>Contact Phone:</b> <%= events[i].Phone %></le><br>                
                        <le><b>Contact Email:</b> <%= events[i].Email %></le>
                      </h4></ul>
                    </div>

                      <input id="approveButton" type="button" name="theButton" class = "btn btn-info" value="Approve" onclick="window.location='/super/Event/<%= events[i].Event_ID %>'" >

                      <br>   
                  <% } %>                    
              </ul>
      </div>
    </div>
  </body>
</html>
