<html>

<style>
  body {
    background-image: url("../images/EventDetailsBackground.jpg");
    background-size: cover;
  }
  textarea.html-text-box 
  {
    width: 90%;
    height: 40%;
    resize: none;
    background-color:#ffffff;
    background-repeat:no-repeat;
    background-attachment:fixed;
    border-width:1;
    border-style:solid;
    border-color:#cccccc;
    font-family:Arial;
    font-size:14pt;
    color:#000000;
  }
  input.html-text-box 
  {
    background-color:#ffffff;
    font-family:Arial;
    font-size:14pt;
    color:#000000;
  }
 
  .rating {
    
    
    float:left;
    border:none;
}
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0, 0, 0, 0);
}
.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#646464;
}
.rating:not(:checked) > label:before {
    content:'★ ';
}
.rating > input:checked ~ label {
    color: #f70;
}
.rating:not(:checked) > label:hover, .rating:not(:checked) > label:hover ~ label {
    color: gold;
}
.rating > input:checked + label:hover, .rating > input:checked + label:hover ~ label, .rating > input:checked ~ label:hover, .rating > input:checked ~ label:hover ~ label, .rating > label:hover ~ input:checked ~ label {
    color: #ea0;
}
.rating > label:active {
    position:relative;
}
  .left{
    margin-left: 150px;
    margin-top: 50px;
    margin-bottom: 150px;
    float: left;
  }
  
  .right{
    margin-right: 30%;
    margin-top: 35px;
    margin-bottom: 150px;
    float: right;
  }

  .center{
    
    margin-top: 35px;
    margin-bottom: 150px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    
  }
  .top{
    min-width: 350px;

    padding-top: 0px;
    padding-bottom: 10px;
    margin-top: 5px;
    margin-left: 40px;
    margin-right: 40px;

   
  }
  .left{
    width: 32%;
    height: 700px;
    min-width: 350px;
    float: left;

    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 5px;
    margin-left: 30px;

    border: 3px;
    border-style: solid;
    border-color: #FEF3B3;
    border-radius: 10px;

    background-color: #C5C7C8;

    overflow: auto;
  }

  .center{
    
    width: 32%;
    height: auto;
    min-width: 350px;
    

    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 5px;
    

    border: 3px;
    border-style: solid;
    border-color: #FEF3B3;
    border-radius: 10px;

    background-color: #C5C7C8;
  }
  .right{    
    width: 32%;
    height: 700px;
    min-width: 350px;
    float: right;

    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 5px;
    margin-right: 30px;



    border: 3px;
    border-style: solid;
    border-color: #FEF3B3;
    border-radius: 10px;

    background-color: #C5C7C8;
  
  }
  .rating-container {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
  }
  .star {
  color: gold;
  font-size: 25;
  -webkit-text-stroke: .5px black;
}
#titleFormat{
    align-items: center;
    background-color: #FEF3B3;
    border-radius: 6px;
    color: #000000;
    display: flex;
    font-size: 20pt;
    font-weight: bold;
    justify-content: center;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    transform: translateX(-50%, -50%);

    height: 50px;
    width: 80%;
  }
#EventFormat{
    align-items: center;
    background-color: #FEF3B3;
    border-radius: 6px;
    color: #000000;
    display: flex;
    font-size: 20pt;
    font-weight: bold;
    justify-content: center;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    transform: translateX(-50%, -50%);

    height: 50px;
    width: 80%;
  }
  #EventDetailsFormat{
    align-items: center;
    background-color: #FEF3B3;
    border-radius: 6px;
    color: #000000;
    display: flex;
    font-size: 40pt;
    font-weight: bold;
    justify-content: center;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    transform: translateX(-50%, -50%);

    height: 70px;
    width: 20%;
    border: 2px solid #C5C7C8;
    white-space: nowrap;
    overflow: hidden;

  }

</style>

<%= include partials/header.ejs %>

<head>
  <meta property="og:title" content="I just left a comment for an event on College Event Manager!"/>
  <meta property="og:site_name" content="College Event Manager"/>
</head>
    <body>
       <center><h1><text id="EventDetailsFormat">Event Details</text></h1><center></br>

          <div class = "viewEvent">

            <div class="top">

            </div>

              <div class="left">
                
                <center><h1><text id="titleFormat">Reviews</text></h1><center></br>

                  <ul>
                    <% for (var i = 0; i < comments.length; i++) { %>
                      <% if (comments[i].owner == currentUser) { %>
                      <form method = "post" action = "/deletecomment/<%= comments[i].id %>">
                        <input type="submit" class="btn btn-danger" value="X" style = "float: left;">
                        <% } %>
                           <h3>
                                <le>Username: <%= comments[i].owner %></le>
                           </h3>
                           <h4>
                            <le>Rating:</le>
                            <% for (let j = 0; j < comments[i].rating; j++) { %>
                              <span class="star">&#9733;</span>
                            <% } %>
                           </h4>
                           <h4>
                                <le>Comment: <%= comments[i].commentString %><br></le>
                           </h4>
                      </form>
                      <!-- <button type="button" class="btn btn-danger" value="M" style = "float: left;"> -->
                        <% if (comments[i].owner == currentUser) { %>
                          <input type="button" value = "Modify" class="btn" data-comment-id="<%= comments[i].id %>" onclick="showEdit(this)"><br><br>
                        <% } else{%>
                        
                          <br>
                        <% } %>
                        <script>
                          function showEdit(button) {
                            var commentId = button.getAttribute("data-comment-id");
                            var div = document.getElementById("edit-form-" + commentId);
                            // editForm.style.display = "block";
                            if (div.style.display === "none") {
                              div.style.display = "block";
                            } else {
                              div.style.display = "none";
                            }
                          }
                        </script>
                      <form method = "post" action = "/modifycomment/<%= comments[i].id %>">
                        <div id='edit-form-<%= comments[i].id %>' style = "display: none;">
                        <textarea name="comments" cols="30" rows="3" class="html-text-box" placeholder="Comment here..."><%= comments[i].commentString %></textarea>
                        <br><br>
                        <input type="submit" value="Save" class="btn btn-success">
                        <input type="reset" value="Clear" class="btn btn-danger">
                        </div>
                      </form>
                    <% } %>
                  </ul>
              </div>
                
              <div class="right">
                <center><h1><text id="titleFormat">Add Review</text></h1><center></br>
                
                  <form method="post" action=" " onsubmit="return validateForm()">
                    <div class="rating-container">
                    <div class="rating">
                      <input type="radio" id="star5" name="rating" value="5" />
                      <label for="star5">5 stars</label>
                      <input type="radio" id="star4" name="rating" value="4" />
                      <label for="star4">4 stars</label>
                      <input type="radio" id="star3" name="rating" value="3" />
                      <label for="star3">3 stars</label>
                      <input type="radio" id="star2" name="rating" value="2" />
                      <label for="star2">2 stars</label>
                      <input type="radio" id="star1" name="rating" value="1" />
                      <label for="star1">1 star</label>
                    </div>
                    </div>
                    
                  
                    <textarea name="comments" cols="50" rows="7" class="html-text-box" placeholder = "Comment here..." style="resize: none;"></textarea>
                    <br><br>
                    <input type="submit" value="Submit" class="btn btn-success" style="margin-bottom:8px">
                    <input type="reset" value="Clear" class="btn btn-danger" style="margin-bottom:8px">
                    <div class="sharethis-inline-share-buttons">
                      <a href="#"onclick="window.open('https://twitter.com/intent/tweet?text=I+just+reviewed+an+event+on+College+Event+Manager%21+http%3A%2F%2Flocalhost%3A3000%2Fevents%2F', 'newwindow', 'width=600, height=250'); return false;">
                        <button id="twitterButton" class="btn btn-info"><i class="fa fa-twitter"></i> Post on Twitter</button>
                      </a>
                    </div>            
                  </form>

                  <script>
                    // This makes sure the form is submitted with a star rating
                    function validateForm() {
                      var rating = document.getElementsByName("rating");
                      
                      var isValid = true;
                  
                      for (var i = 0; i < rating.length; i++) {
                        if (rating[i].checked) {
                          isValid = true;
                          break;
                        } else {
                          isValid = false;
                        }
                      }
                  
                      if (!isValid) {
                        alert("Please include a rating.");
                        return false;
                      }
                    }
                  </script>

              </div>

              <div class="center">
                <div style="text-align:left;">
                  <h3>
                    <center> <text id="eventFormat"><b>Name:</b>&nbsp;&nbsp;<%= events[0].Name %></text><center></center><br> 
                  </h3>

                  <ul>               
                    <h4>
                      <le><b>Description:</b> <%= events[0].Description %></le><br><br>                   
                      <le><b>Time:</b> <%= events[0].Time %></le><br><br> 
                      <le><b>Date:</b> <%= events[0].Date.toDateString() %></le><br><br>                                    
                      <le><b>Location:</b> <%= events[0].Location %></le><br><br>                                            
                      <le><b>Contact Phone:</b> <%= events[0].Phone %></le><br><br>                 
                      <le><b>Contact Email:</b> <%= events[0].Email %></le><br><br><br>   
                    </h4>
                  </ul>
                </div>
              </div>

          </div> 
      </body>
</html>
